n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3123/api/short-video",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "scenes",
              "value": "={{ $json.scenes }}"
            },
            {
              "name": "config",
              "value": "={{ $json.config }}"
            }
          ]
        },
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -864,
        -115
      ],
      "id": "3d3102ae-42b7-4781-a51e-b91718de0880"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -644,
        -115
      ],
      "id": "2e774ea0-09b9-42a5-bcd1-2eec9dabc33e",
      "webhookId": "6a9b5264-fdfa-4fe5-9103-b100537e44d1"
    },
    {
      "parameters": {
        "url": "=http://localhost:3123/api/short-video/{{$node[\"HTTP Request\"].json[\"videoId\"]}}/status",
        "options": {}
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -424,
        -190
      ],
      "id": "c93039ac-eb25-4d6b-9084-137ae6bb882b"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "value2": "ready"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -204,
        -190
      ],
      "id": "57105d67-f557-4028-955e-86c573a36686"
    },
    {
      "parameters": {
        "url": "=http://localhost:3123/api/short-video/{{$node[\"HTTP Request\"].json[\"videoId\"]}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        20,
        -240
      ],
      "id": "99684ff4-2827-45e3-8ea4-1a21f838bea2"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "value2": "processing"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        16,
        -15
      ],
      "id": "2765c3ae-8c3d-42f4-b128-b586d77c0456"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./output/ReelsGen/{{ $json.headers['content-disposition'].split(\"filename=\")[1] }}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        236,
        -240
      ],
      "id": "95b08ea8-3d79-4b07-b4ab-5e00940e0420",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1680,
        -115
      ],
      "id": "ba040ec4-0a18-4f33-97e1-34fcdc18c9ae",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_YofUkQD66FpnTk2Qk4zExndW",
          "mode": "list",
          "cachedResultName": "DiarioDaMontanha"
        },
        "prompt": "define",
        "text": "=Gere um JSON com 4 cenas para um vídeo motivacional cristão baseado no livro *Legendários: Uma Jornada de Transformação*, com base em um ensinamento aleatório do capitulo {{ Math.ceil(Math.random()*9)+1 }}\n\nCada cena deve conter:\n\n* `\"text\"`: uma frase curta e inspiradora (até 20 palavras), baseada ou inspirada em ensinamentos do capítulo sobre honra.\n* `\"searchTerms\"`: uma lista com **4 termos de busca em inglês** que representem bem o conteúdo e emoção da frase, voltados para encontrar imagens simbólicas em bancos de imagem (ex: \"sunrise\", \"kneeling man\", \"brotherhood\", \"light through trees\").\n\nAo final, inclua um objeto `\"config\"` com as seguintes opções fixas:\n\n```json\n\"config\": {\n  \"musicVolume\": \"medium\",\n  \"captionBackgroundColor\": \"#000000\",\n  \"captionPosition\": \"bottom\",\n  \"paddingBack\": 1000\n}\n```\n\nA estrutura final do JSON deve ser:\n\n```json\n{\n  \"scenes\": [\n    {\n      \"text\": \"frase inspiradora 1\",\n      \"searchTerms\": [\"termo1\", \"termo2\", \"termo3\", \"termo4\"]\n    },\n    {\n      \"text\": \"frase inspiradora 2\",\n      \"searchTerms\": [\"termo1\", \"termo2\", \"termo3\", \"termo4\"]\n    },\n    {\n      \"text\": \"frase inspiradora 3\",\n      \"searchTerms\": [\"termo1\", \"termo2\", \"termo3\", \"termo4\"]\n    },\n    {\n      \"text\": \"frase inspiradora 4\",\n      \"searchTerms\": [\"termo1\", \"termo2\", \"termo3\", \"termo4\"]\n    }\n  ],\n  \"config\": {\n    \"musicVolume\": \"medium\",\n    \"captionBackgroundColor\": \"#000000\",\n    \"captionPosition\": \"bottom\",\n    \"paddingBack\": 1000\n  }\n}\n```\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1460,
        -115
      ],
      "id": "bebcf4e7-800b-4501-976e-c84a8ed75908",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "x25wGcaYIF1aJRoW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\n\n// Remove blocos ```json e ```\nconst clean = raw.replace(/```json|```/g, '').trim();\n\nconst parsed = JSON.parse(clean);\n\n// Retorna o objeto como item para n8n\nreturn [{\n  json: parsed\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1084,
        -115
      ],
      "id": "99233488-2be3-484c-860a-2561b2ff7d75",
      "name": "Code"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "OpenAI": [
      {
        "output": "```json\n{\n  \"scenes\": [\n    {\n      \"text\": \"A verdadeira honra brota da humildade, criando laços indestrutíveis de amor e unidade.\",\n      \"searchTerms\": [\"humility\", \"unity\", \"bond\", \"love\"]\n    },\n    {\n      \"text\": \"Na comunidade, encontramos apoio e amor para lapidar nosso caráter e fé.\",\n      \"searchTerms\": [\"community\", \"support\", \"faith\", \"character\"]\n    },\n    {\n      \"text\": \"Permita que Deus molde seu coração diariamente, vivendo uma jornada de mudança contínua.\",\n      \"searchTerms\": [\"heart\", \"journey\", \"transformation\", \"God\"]\n    },\n    {\n      \"text\": \"Escolha suas batalhas com sabedoria, sabendo que a vitória em Cristo é certa.\",\n      \"searchTerms\": [\"wisdom\", \"battle\", \"victory\", \"Christ\"]\n    }\n  ],\n  \"config\": {\n    \"musicVolume\": \"medium\",\n    \"captionBackgroundColor\": \"#000000\",\n    \"captionPosition\": \"bottom\",\n    \"paddingBack\": 1000\n  }\n}\n```",
        "threadId": "thread_DGKmp32wzH4KeOuhlZLv2TlP"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b2b67196a66371a77e226b444e8e334001313667791a4a65361b888b3c6a04d"
  }
}